
<!DOCTYPE html>
<html
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="commonAdmin :: html_css">
</head>
<body>
	<!-- Left Panel -->
	<div th:replace='commonAdmin :: html_assets'></div>
	<!-- Right Panel -->
	<div id="right-panel" class="right-panel">
		<!-- Header-->
		<div th:replace='commonAdmin :: html_header'></div>
		<!-- <%@ include file="/WEB-INF/jsp/common-admin/breadcrumbs.jsp"%> -->

		<!-- /header -->
		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-body">
								<table id="bootstrap-data-table-export"
									class="table table-bordered">
									<tr>
										<th>User Email</th>
										<th>Full Name</th>
										<th>Gender</th>
										<th>Phone</th>
										<th>Role</th>
										<th>Enabled</th>
										<th></th>
									</tr>

									<tr th:each="user : ${listUsers}">
										<td th:text="${user.userEmail}"></td>
										<td th:text="(${user.firstName} + ${user.lastName})"></td>
										<td th:text="${user.gender}"></td>
										<td th:text="${user.phone}"></td>
										<td th:switch="${user.roles}"><span
											th:case="'[ROLE_ADMIN]'"
											style="color: pink; font-weight: bold;">Administrator</span>
											<span th:case="'[ROLE_USER]'" style="color: blue;">USER</span></td>

										<td th:text="${user.enabled}"></td>
										<td><a
											th:href="@{'/admin/usermanager?userid=' + ${user.userId}}"
											style="color: white;">
												<button type="button" class="btn btn-danger btn-sm"
													style="width: 80px">Detail</button>
										</a></td>
									</tr>

								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="dataTables_paginate paging_simple_numbers"
							id="bootstrap-data-table-export_paginate">
							<ul class="pagination">
								<li class="paginate_button page-item previous"
									id="bootstrap-data-table-export_previous"><c:choose>
										<c:when test="${currentPage > 1}">
											<a href="/admin/userdetail?page=1"
												aria-controls="bootstrap-data-table-export"
												class="page-link">First</a>
										</c:when>
										<c:otherwise>
											<span><a href=""
												aria-controls="bootstrap-data-table-export"
												class="page-link">First</a></span>
										</c:otherwise>
									</c:choose></li>
								<li class="paginate_button page-item previous"
									id="bootstrap-data-table-export_previous"><c:choose>
										<c:when test="${currentPage > 1}">
											<a href="/admin/userdetail?page=${currentPage - 1}"
												aria-controls="bootstrap-data-table-export"
												class="page-link">Previous</a>
										</c:when>
										<c:otherwise>
											<span><a href=""
												aria-controls="bootstrap-data-table-export"
												class="page-link">Previous</a></span>
										</c:otherwise>
									</c:choose></li>
								<c:forEach var="i" begin="1" end="${totalPages}">
									<c:choose>
										<c:when test="${i==currentPage}">
											<li class="paginate_button page-item active"><a
												href="/admin/userdetail?page=1"
												aria-controls="bootstrap-data-table-export"
												class="page-link ">${i}</a></li>
										</c:when>
										<c:otherwise>
											<li class="paginate_button page-item"><a
												href="/admin/userdetail?page=${i}"
												aria-controls="bootstrap-data-table-export"
												class="page-link ">${i}</a></li>
										</c:otherwise>
									</c:choose>
								</c:forEach>
								<li class="paginate_button page-item next"
									id="bootstrap-data-table-export_next"><c:choose>
										<c:when test="${currentPage < totalPages}">
											<a href="/admin/userdetail?page=${currentPage + 1}"
												aria-controls="bootstrap-data-table-export"
												class="page-link">Next</a>
										</c:when>
										<c:otherwise>
											<span><a href=""
												aria-controls="bootstrap-data-table-export"
												class="page-link">Next</a></span>
										</c:otherwise>
									</c:choose></li>
								<li class="paginate_button page-item next"
									id="bootstrap-data-table-export_next"><c:choose>
										<c:when test="${currentPage < totalPages}">
											<a href="/admin/userdetail?page=${totalPages}"
												aria-controls="bootstrap-data-table-export"
												class="page-link">Last</a>
										</c:when>
										<c:otherwise>
											<span><a href=""
												aria-controls="bootstrap-data-table-export"
												class="page-link">Last</a></span>
										</c:otherwise>
									</c:choose></li>
							</ul>
						</div>
					</div>
				</div> -->
			</div>
			<!-- .animated -->
		</div>
		<!-- .content -->
	</div>
	<!-- /#right-panel -->
	<div th:replace='commonAdmin :: html_script'></div>

</body>
</html>