
<!DOCTYPE html>
<html
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="commonUser :: html_css">
</head>
<body>
	<div th:replace='commonUser :: html_navBar'></div>
	<div th:replace='commonUser :: html_topBar'></div>
	<div class="sufee-login d-flex align-content-center flex-wrap">
		<div class="container">
			<div class="login-content">
				<div class="login-logo">
					<a href="index.html"> <img class="align-content"
						src="images/logo.png" alt="">
					</a>
				</div>
				<div class="login-form">
					<form th:action="@{forgetpassword}" method="POST">
						<div class="form-group">
							<label for="email" class="form-label">Email Address</label> <input
								type="email" class="form-control" id="email" name="email">
						</div>
						<div class="form-group" th:if="${message != ''}">

							<div th:if="${message=='WRONG'}" class="alert alert-danger"
								role="alert">Wrong email, please try again!</div>

						</div>
						<!-- 						<button type="submit" class="btn btn-primary btn-flat m-b-15">Send</button> -->

						<!-- <div th:if="${not empty message}"> -->
							<div th:if="${message == 'FORGET_SUCCESS'}">
								<div class="mb-3">
									<div class="alert alert-success" role="alert">Please
										check your email for the completion</div>
								</div>
								<div>
									<a href="/login" class="btn btn-warning button">Click To
										Login</a>
								</div>
							</div>
							<button th:unless="${message == 'FORGET_SUCCESS'}" type="submit"
								class="btn btn-warning btn-flat m-b-15">Send</button>
						<!-- </div> -->
						<!-- 		<c:choose>
							<c:when test="${not empty message}">
								<c:if test="${message == 'FORGET_SUCCESS'}">

								</c:if>
							</c:when>
							<c:otherwise>
								<button type="submit" class="btn btn-warning btn-flat m-b-15">Send</button>
							</c:otherwise>
						</c:choose> -->
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace='commonUser :: html_footer'></div>

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	<div th:replace='commonUser :: html_script'></div>
</html>