
<!DOCTYPE html>
<html
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="commonUser :: html_css">
</head>
<body>
	<div th:replace='commonUser :: html_navBar'></div>
	<div th:replace='commonUser :: html_topBar'></div>
	<div class="sufee-login d-flex align-content-center flex-wrap">
		<div class="container">
			<div class="login-content">
				<div class="login-logo">
					<a href="index.html"> <img class="align-content"
						src="images/logo.png" alt="">
					</a>
				</div>
				<div class="login-form">
					<p style="color: #ebdddd" th:text="${userFullName}">Welcome
						${userFullName}</p>
					<p style="color: #ebdddd" th:text="${userEmail}">Your email :
						${userEmail}</p>
					<form th:action="@{forgetpasswordprocess}" method="POST">
						<div class="form-group">
							<input type="hidden" placeholder="text" th:value="${userEmail}"
								name="txtUserEmail" /> <input type="hidden" placeholder="text"
								th:value="${hashCode}" name="txtHashCode" />
						</div>
						<div class="form-group">
							<label for="password" class="form-label">New Password</label> <input
								type="password" class="form-control" id="new-password"
								name="userPassword" minlength="6" required="required">
						</div>
						<div class="form-group">
							<label for="confirmPassword" class="form-label">Confirm
								Password</label> <input type="password" class="form-control"
								id="confirm-password" name="txtConfirmPassword" minlength="6"
								required="required">
						</div>
						<div class="form-group">
								<div th:if="${message == 'CHANGE_PASSWORD_SUCCESS'}"
									class="alert alert-success" role="alert">Change password
									successful</div>
						</div>
						<button type="submit" class="btn btn-primary btn-flat m-b-15">Change
							Password</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace='commonUser :: html_footer'></div>

	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
	<div th:replace='commonUser :: html_script'></div>
</html>