
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	>
<head th:replace="commonUser :: html_css">


</head>
<body>
<div th:replace='commonUser :: html_navBar'></div>
	<div th:replace='commonUser :: html_topBar'></div>
	<!-- Pricing Start -->
	<div class="price" style="margin-top: 70px">
		<div class="container">
			<div class="section-header text-center">
				<p>Our Best Pricing</p>
				<h2>We Provide Best Price in the City</h2>
			</div>
			<div class="row">
				<c:forEach var="list" items="${listServiceDetail}">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="price-item">
							<div class="price-img">
								<img src="${list.mainImage}" alt="Image">
							</div>
							<div class="price-text">
								<h2>${list.title}</h2>
								<h3>$${list.price}</h3>
							</div>
						</div>
					</div>
				</c:forEach>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="price-item">
						<div class="price-img">
							<img src="img/price-1.jpg" alt="Image">
						</div>
						<div class="price-text">
							<h2>Cut, Dry, Shampoo, Style</h2>
							<h3>$9.99</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="price-item">
						<div class="price-img">
							<img src="img/price-2.jpg" alt="Image">
						</div>
						<div class="price-text">
							<h2>Cut, Dry, Style</h2>
							<h3>$10.99</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="price-item">
						<div class="price-img">
							<img src="img/price-3.jpg" alt="Image">
						</div>
						<div class="price-text">
							<h2>Cut, Dry</h2>
							<h3>$11.99</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="price-item">
						<div class="price-img">
							<img src="img/price-2.jpg" alt="Image">
						</div>
						<div class="price-text">
							<h2>Style</h2>
							<h3>$10.99</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="price-item">
						<div class="price-img">
							<img src="img/price-2.jpg" alt="Image">
						</div>
						<div class="price-text">
							<h2>Shave Face</h2>
							<h3>$10.99</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="price-item">
						<div class="price-img">
							<img src="img/price-3.jpg" alt="Image">
						</div>
						<div class="price-text">
							<h2>Hair Rinse</h2>
							<h3>$11.99</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="price-item">
						<div class="price-img">
							<img src="img/price-1.jpg" alt="Image">
						</div>
						<div class="price-text">
							<h2>Tattoo Hair</h2>
							<h3>$9.99</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="price-item">
						<div class="price-img">
							<img src="img/price-1.jpg" alt="Image">
						</div>
						<div class="price-text">
							<h2>Shave(Full)</h2>
							<h3>$9.99</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Pricing End -->
		<div th:replace='commonUser :: html_footer'></div>
	
	<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
		<div th:replace='commonUser :: html_script'></div>
	

</body>
</html>